rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function myRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    match /users/{uid} {
      allow read: if isSignedIn() && (request.auth.uid == uid || myRole() == 'configAdmin');
      allow write: if isSignedIn() && myRole() == 'configAdmin';
    }
  }
}
